$basecolor: rgba(43, 45, 49, 0.7);
$imagescolor: rgba(47, 47, 47, 1);
$maxdark: rgba(23, 23, 23, 1);
$maxdarkLight: rgba(23, 23, 23, 0.7);
$mindark: rgba(23, 23, 23, 0.4);
$lightBlue: rgba(131, 168, 249, 1);
$white: #ffffff;
$darkWhite: #E0E0E099;
$lightGray: #A7A5A5;
$gray: #656565;
$darkGray: #292929;
$darkBlue: #99AFFF;
$footerGray: #939393;
$font: 'Montserrat', sans-serif;
$radius: 8px;
$payment: rgba(47, 47, 47, 0.1);